## Sample inputs. Copy to local/inputs.conf, set index, and enable.
[udp://1514]
index = your_index
sourcetype = pfsense
connection_host = dns
no_appending_timestamp = true
disabled = 1

[udp://1515]
index = your_index
sourcetype = pfsense:dnsbl
connection_host = dns
no_appending_timestamp = true
disabled = 1

[udp://1516]
index = your_index
sourcetype = pfsense:iplog
connection_host = dns
no_appending_timestamp = true
disabled = 1
